{% extends "base.html" %}

{% block title %}Cadastro{% endblock %}

{% block content %}
    <section id="cont">
        <h1>Página não encontrada!</h1>
        <img src="https://http.cat/images/404.jpg" alt="notFoundCat">
        <p>O 404 Not Foundcódigo de status de resposta HTTP indica que o servidor não conseguiu encontrar o recurso solicitado. Links que levam a uma 404página são frequentemente chamados de links quebrados ou mortos e podem estar sujeitos à deterioração do link. </p>
        <p>Um 404código de status indica apenas que o recurso está ausente, não se a ausência é temporária ou permanente. Se um recurso for removido permanentemente, use o 410 Gonestatus em vez do código de status.</p>
    </section>
{% endblock %}
