<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Meu site Flask{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="https://img.icons8.com/clouds/100/python.png">

    {% block extra_head %}{% endblock %}
</head>
<body>

    <nav>
        {% block nav %}{% endblock %}
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer id="footer">
        {% block footer %}
        &copy; 2026 - <a href="https://github.com/marcelod6427" target="_blank">you</a>
        {% endblock %}
    </footer>

</body>
</html>
