{% extends "base.html" %}

{% block title %}Início{% endblock %}

{% block content %}
<section id="cont">
    <h1>Hello World</h1>
    <img src="https://miro.medium.com/1*XzIRJGujfqAiOV2EIQgR_Q.png">
</section>

<section id="cont2">
    <div id="conteiner">
        <a href="{{ url_for('add') }}" class="botaoindex">Cadastro</a>
        <a href="{{ url_for('news') }}" class="botaoindex">Notícias</a>
        <a href="{{ url_for('lista') }}" class="botaoindex">Lista</a>
    </div>
</section>
{% endblock %}