{% extends "base.html" %}

{% block title %}Notícias{% endblock %}

{% block content %}
<section id="cont">
    <h1>Notícias</h1>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus quisquam ea praesentium nostrum unde exercitationem adipisci perspiciatis nesciunt quaerat, omnis saepe atque quam, ab nihil id inventore aperiam in repudiandae.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto accusantium officia praesentium odit. Harum sint, in eius facere laborum illum dolorem soluta doloremque nostrum, mollitia itaque voluptatem fugiat qui quisquam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora dolorum dolore laborum? Ipsum deserunt, nemo harum odit est quae enim ipsa autem, a vitae error ea ullam mollitia! Itaque, atque!</p>
</section>
{% endblock %}
